<%- include("header") -%>

<div class="container-fluid">
<div class="row">
  <div class="col-lg-2 side-main"></div>

<div class="col-lg-8 middle-main">
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
 <h1 class="display-4"><strong>Reserve a Pearl Suite!</strong></h1>
 <p class="lead temping-message" id="reserve-sub-msg">Different in size. Equal in luxury.</p>
</div>




<form class="" action="" method="post">
  <div class="cards-col">
    <hr class="hr-dark">

   <div class="card mb-4 shadow-sm">
     <div class="card-header">
       <h2 class="my-0 font-weight-bold">Grand Pearl Suite</h2>
     </div>
     <div class="card-body">
       <img src="images/beach-hotel-room4.jpg" class="d-block w-100" alt="...">
       <h1 class="card-title pricing-card-title">$<%- grandPrice %> <small class="text-muted">/ night</small></h1>
       <ul class="list-unstyled mt-3 mb-4">
         <li>Balcony</li>
         <li>Jakoozi</li>
         <li>More Coffee</li>
         <li>Beer Fountain</li>
       </ul>

         <button type="submit" class="btn btn-lg btn-block btn-outline-success" name="reserveButton" value="Grand">Reserve This Suite</button>

     </div>
   </div>

  <hr class="hr-dark">

   <div class="card mb-4 shadow-sm">
     <div class="card-header">
       <h2 class="my-0 font-weight-bold">Medium Pearl Suite</h2>
     </div>
     <div class="card-body">
       <img src="images/beach-hotel-room2.jpg" class="d-block w-100" alt="...">
       <h1 class="card-title pricing-card-title">$<%- mediumPrice %> <small class="text-muted">/ night</small></h1>
       <ul class="list-unstyled mt-3 mb-4">
         <li>Some Text</li>
         <li>Some More Text</li>
         <li>Even More Text</li>
         <li>Text Text Text</li>
       </ul>
       <!-- <form class="" action="/reservationPage" method="get"> -->
       <button type="submit" class="btn btn-lg btn-block btn-outline-success" name="reserveButton" value="Medium">Reserve This Suite</button>
      <!-- </form> -->
     </div>
   </div>

   <hr class="hr-dark">

   <div class="card mb-4 shadow-sm">
     <div class="card-header">
       <h2 class="my-0 font-weight-bold">Small Pearl Room</h2>
     </div>
     <div class="card-body">
       <img src="images/beach-hotel-room1.jpg" class="d-block w-100" alt="...">
       <h1 class="card-title pricing-card-title">$<%- smallPrice %> <small class="text-muted">/ night</small></h1>
       <ul class="list-unstyled mt-3 mb-4">
         <li>Some Text</li>
         <li>Some More Text</li>
         <li>Even More Text</li>
         <li>Text Text Text</li>
       </ul>
       <!-- <form class="" action="/reservationPage" method="get"> -->
       <button type="submit" class="btn btn-lg btn-block btn-outline-success" name="reserveButton" value="Small">Reserve This Suite</button>

     </div>
   </div>
 </div>
</form>

 </div>

<div class="col-lg-2 side-main"></div>
</div>
</div>

<%- include("footer") -%>
