<%- include("header") -%>



<div class="container-fluid reservation-info-columns">
  <div class="row">
    <div class="col-sm-2 side-main"></div>



  <div class="col-sm-8">
    <br>
    <div class="reservation-top-message">
    <h1>Choose when you're going to stay</h1>
    </div>
    <hr class="hr-dark">
    <br>
  <ul class="card-review">
    <h2 class="card-header"><li class="chosenSuite"><%=chosenSuite%></li></h2>
    <li class="" id="liImage" style="float: left;"></li>
    <li class="review-suite">
      <ul>
        <li>room info</li>
        <li>more room info</li>
        <li>even more room info</li>
        <li>filling text</li>
      </ul>
    </li>

  </ul>
  <hr class="hr-dark">
  <h2 class="h2-above-calendar">available days for this room</h2>
  <%- include("calendar") -%>
  </div>



  <div class="col-sm-2 side-main"></div>
</div>
<div class="" style="text-align: center; padding: 3rem 0;">
  <h5>copyrights etc...</h5>
</div>

</div>


<script type="text/javascript">
  // this part is relevant when loading rooms data.
  // var chosenDays = <%= chosenDays %>;
  // for (let i = 0; i < chosenDays.length; i++)
  // {
  //   $("#" + chosenDays[i]).addClass("day-full");
  // }

  let imageLink = "";
  let textSuite = $(".chosenSuite").text();

  if (textSuite === "Grand")
  {
    imageLink = "<img src='images/beach-hotel-room4.jpg' id='chosenImage' alt='...'>";
  }
  else if (textSuite === "Medium")
  {
    imageLink = "<img src='images/beach-hotel-room2.jpg' id='chosenImage' alt='...'>";
  }
  else if (textSuite === "Small")
  {
    imageLink = "<img src='images/beach-hotel-room1.jpg' id='chosenImage' alt='...'>";
  }

  $(".chosenSuite").prepend("Suite Type: ");

  $("#liImage").append(imageLink);
</script>

<%- include("footer") -%>
